/KV.VC.db
/x64
/ipch
/.vs
/KV/x64
/Test/x64
/KV.VC.VC.opendb
/build.log
/Win32
/KV/Win32
/Test/Win32
/CSharp/KVSharp.framework20/bin
/CSharp/KVSharp.framework20/obj
/CSharp/KVSharp.framework30/obj
/CSharp/KVSharp.framework30/bin
/CSharp/KVSharp.framework35/obj
/CSharp/KVSharp.framework35/bin
/CSharp/KVSharp.framework40/obj
/CSharp/KVSharp.framework40/bin
/CSharp/KVSharp.framework45/obj
/CSharp/KVSharp.framework45/bin
/CSharp/KVSharp.framework46/obj
/CSharp/KVSharp.framework46/bin
/CSharp/KVSharp.framework47/obj
/CSharp/KVSharp.framework47/bin
/CSharp/KVSharp.framework48/obj
/CSharp/KVSharp.framework48/bin
/CSharp/KVSharp.netstandard/obj
/CSharp/KVSharp.netstandard/bin
/CSharp/nuget/*.nupkg
/CSharp/nuget/2.drop-nupkg-file-here-publish-to-nuget.org.bat
/CSharp/nuget/2.drop-nupkg-file-here-publish-to-local.bat
/TestNet/obj
/TestNet/bin
/TestNetFramework/obj
/TestNetFramework/bin
/TestShared/Win32
/TestShared/x64
/packages
